h1 {
    
}

body {
    background-image: url(/static/images/eat_veg_horizontal.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size:cover;
}

.container {
    background-color: rgba(255, 255, 255, 0.9);
}

button:hover {
    color:black !important;
    background-color: white !important;
}

/*----navbar---*/




.navbar {
    background-color: rgba(255, 255, 255) !important;
    
}

.nav-item {
    font-size:x-large;
}

.nav-item:hover, .nav-link:hover {
    background-color: green !important;
    color: white !important;
}

.searchbar {
    font-size:larger;
}

.active {
    text-decoration: underline !important;
}


/*---gallery---*/

#gallery_container {
    margin-top: 100px !important;
    opacity:1 !important ;
}

/*---home_posts---*/

.posted_by {
    font-style: italic;
}

.post_title {
    font-size: larger;
    color: black;
    text-decoration: none;
}

.post_title:hover {
    text-decoration: underline;
}

.article_title {
    font-size: larger;
    color: black;
}

.article_title:hover {
    text-decoration: solid;
    text-decoration: underline;
    color: black;
}

.more_news {
    color: white;
}

.home_section {
    margin-top: 150px !important;
}


#not_registered {
    padding-left: 40px !important;
}

#welcome {
    padding-top: 20px;
    text-align: center;
    font-weight: bold;
}

#login_div {
    margin-top: 150px !important;
}

#post_submit {
    margin-top: 120px !important;
}

#signup {
    color: white;
}


#allows {
    padding-top: 40px;
    font-weight: bolder;
}

.ul_welcome {
    padding-top: 30px;
}


.list_subclass {
    text-align: left;
    padding: 20px;
}

.li_welcome {
    padding-top: 10px;
}

#home_div {
    margin-top: 10px;
}

#posts_div {
    margin-top: 10px;
}

#headlines_div {
    margin-top: 10px;
}

.report_category {
    font-size: larger;
    font-weight: bold;
    text-transform: uppercase;
    background-color: antiquewhite;
    display: inline;
}

.report_website {
    font-weight: bold;
    text-decoration: solid;
}


.gallery_col {
    display: flexbox;
}

.gallery_img {
    width: 300px;
}

.shared {
    font-style: italic;
}

.user {
    font-weight: bold;
    text-decoration: solid;
}