.gallery_col {
    display: flexbox;
    justify-content: center;
    align-items: center;
    height:100%;
}

.gallery_img {

    max-width: 400px;
}

#home_div {


}

.container {

}

#posts_div {

}

#headlines_div {

}

