/*-------google fonts link-------*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Nunito:wght@500&family=Prompt:wght@600&display=swap');


/*-------regmodal----------*/

.reg_close {
    background-color: grey !important;
}


/*---- site wide element styles -----*/

p {
    font-family: 'Montserrat', 'Nunito', Geneva, sans-serif;
}



h1, h2, h3, h4, h5, h6 {
    font-family:  'Montserrat', 'Nunito', Geneva, sans-serif;
}

body {
    background-image: url(/static/images/eat_veg_horizontal.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size:cover;
}

.container {
    background-color: rgba(255, 255, 255, 0.9);
}



button:hover {
    color:black !important;
    background-color: white !important;
}

/*----main parent container used first on most pages ------ */

.parent_container {
    margin-bottom: 75px !important;
    margin-top: 197px !important;
}

/*---- container for pages with 1 small screen of info (login,acount, edit, delete, register ) ------ */

.subscreen_container {
    margin-bottom: 225px !important;
    margin-top: 200px !important;
}

.confirmation_message {
    font-size: larger;
    font-weight: bold;
}

/*----navbar---*/

#searchbar {
    width: 150px;
}


.logo {
    font-family:'Nunito', Geneva, sans-serif;
}

.navbar {
    background-color: rgb(64, 170, 60) !important;
    
}

.nav-item {
    font-size:x-large;
}

.nav-item:hover, .nav-link:hover {
    background-color: green !important;
    color: white !important;
}

.searchbar {
    font-size:larger;
}

.active {
    text-decoration: underline !important;
}


/*---gallery---*/

#gallery_container {
    margin-top: 180px !important;
    opacity:1 !important ;
}

/*---index.html---*/



.posted_by {
    font-style: italic;
}

.post_title {
    font-size: 25px;
    font-weight: bold;
    color: black;
    text-decoration: none;
}

.post_title:hover {
    text-decoration: underline;
    color: black;
}

.post_title_mini {
    font-size: 18px;
    font-weight: bold;
    color: black;
    text-decoration: none;
}

.post_title_mini:hover {
    text-decoration: underline;
    color: black;
}

.article_title {
    font-size: larger;
    color: black;
}

.article_title:hover {
    text-decoration: solid;
    text-decoration: underline;
    color: black;
}

.more_news {
    color: white;
}


#not_registered {
    padding-left: 40px !important;
}

#welcome {
    padding-top: 20px;
    text-align: center;
    font-weight: bold;
}


#post_submit {
    margin-top: 120px !important;
}

#signup {
    color: white;
}


#allows {
    padding-top: 40px;
    font-weight: bolder;
}

.ul_welcome {
    padding-top: 30px;
}


.list_subclass {
    text-align: left;
    padding: 20px;
}

.li_welcome {
    padding-top: 10px;
}

#home_div {
    margin-top: 10px;
}

#posts_div {
    margin-top: 10px;
}

.headlines_div {
    margin-top: 10px;
    margin-bottom: 50px;
}

.h4_headlines {
    color: black !important;
}

.side_headlines {
    font-size: 20px;
    font-weight: bold;
}

.report_category {
    color: darkgreen;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 2px 2px 3px rgb(184, 182, 182);
    display: inline;
}

.report_website {
    font-weight: bold;
    text-decoration: solid;
}




/*------post_detail-----*/

.post_container {
    margin-bottom: 250px !important;
    margin-top: 197px !important;
}


/*-------news---------*/

.news_welcome {
    margin-top: 195px !important;
}


.news_h2 {
    /*margin-top: 180px !important;*/
}


.category_span {
    font-weight: bold;
    text-decoration: underline;
}

.article_link {
    font-size: 25px;
    font-weight: bold;
    color: black;
    text-decoration: none;
}

.article_link:hover {
    text-decoration: solid !important;
    text-decoration: underline !important;
    color: black;
}

.shared {
    font-style: italic;
}

/*-------add_news---------*/

.add_news_container {
    margin-top: 180px !important;
    margin-bottom: 150px !important;
}

.preface_add_news {
    max-width: 60%;
    padding-left: 40px;
    padding-top: 40px;
    font-size: larger;
}

.add_news_form {
    font-size: larger;
    text-align: left;
    padding-left: 40px;
}

.add_news_div {
    text-align: center;
}


/*---------gallery--------------*/


.gallery_col {
    display: flexbox;
}

.gallery_img {
    width: 300px;
}

.bold_span {
    font-weight: bold;
    text-decoration: solid;
}


/*---------------aboutus---------------*/

.about_container {
    margin-top: 195px !important;
    margin-bottom: 100px !important;
}


/*---------events----------*/
.events_container {
    margin-top: 195px !important;
    margin-bottom: 100px !important;
}

/*---------login------------*/



/*-------searchresults--------*/
.search_container {
    margin-bottom: 250px !important;
    margin-top: 200px !important;
}

.search_div {
    margin: auto;
}


/*----------account-----------*/
.user_list {
    list-style: none;
}



/*------------footer------------*/


footer {
    background-color: rgb(64, 170, 60) !important;

}

.footer_container {
    background-color: rgb(64, 170, 60) !important;
}

.ul_footer {
    list-style-type: none;
    text-decoration: none;

}

.contact {
    line-height: 1.6;
}

.footer_link {
    text-decoration: none;
    color: black;
}

.footer_link:hover {
    background-color: green !important;
    color: white !important;
}



/*------------media-queries-----------*/



@media screen and (min-width: 2400px) {


    footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;

    }
}




@media screen and (min-width: 1900px) {
    .lower_container {
        margin-bottom: 300px;
    }

}





@media screen and (max-width: 1300px) {


    .nav-link {
        padding: 4px !important;
        font-size: large;
    }

    #searchbar {
        width: 120px;
    }


}



/*------------small screens such as smart phone*/
@media screen and (max-width: 460px) {
    .logo {
        font-size:larger;
        font-weight: 500;
    }

    .navbar {
        padding: 2px !important;
    }

    .navbar-toggler {
        padding: 0 !important;
        width: 10%;
    }

    .parent_container {
        margin-bottom: 50px !important;
        margin-top: 75px !important;
    }

    .welcome_h2 {
        margin-top: 0 !important;
    }

    .action_call {
        font-size: 18px;
    }

    .signup_button {
        margin-bottom: 15px !important;
    }

    .post_p {
        font-size: 18px;
        font-weight: 700;
        margin-bottom: 5px;
    }

    .posted_by {
        font-size: 14px;
    }

    .news_h2 {
        margin: 10px;
        padding-top: 15px !important;
    }

    .category_button {
        padding: 4px;
        height: min-content;
        margin: ;
    } 

    .report_category {
        font-size: 16px;
    }

    .site {
        font-size: 14px;
        margin-bottom: 0;
    }

    .article_p {
        font-size: 18px;
        margin-bottom: 5px;
    }

    .shared {
        font-size: 14px;
        margin-bottom: 2px;
    }

    hr {
        margin: 8px;
    }


}


@media screen and (max-width: 351px) {
    .logo {
        font-size:large;
        font-weight: 500;

    }

    .navbar {
        padding: 0px !important;
    }

}
