{% extends "base.html" %}
<!--below here is the block content-->
{% block content %}
<!--this is the block content section-->
<div class="container subscreen_container rounded">
    <h2 class=" py-5 about_h2 m-5 text-center">About us</h2>
    <div class="row  g-5">
        <div class="col-sm-12 col-md-6  p-5">
            <h3 class="p-2 text-center">Who are we?</h3>
            <p>Plant Based Ireland was founded by a group of like minded people as a way to share info and ideas about vegetarian and vegan foods in Ireland. We wanted to provide a space for people to explore veggie/vegan diets, where they can interact with others who share the same ideas and want to learn more. We want to shine a spotlight on our favourite restaurants, encourage those curious about plant based diets to give it a try and help the community grow and make friends.</p>
        </div>
        <div class="col-sm-12 col-md-6  p-5">
            <h3 class="p-2 text-center">Foods</h3>
<p>Ireland has a surprisingly high amount of veggie and vegan options available when it comes to restaurant dining, fast food takeaways and snacks on the go. Although the number of true vegan restaurants is in the minority, most eateries will have a plant based option on the menu in some form or another. While some may be a boring salad, others can be inventive delicious meals that are worth highlighting. We wanted Plant Based Ireland to be a place where users can share their experiences about plant based dining in Ireland, discuss their favourites and make suggestions.If it provides some free marketing to our favourite restaurants with plant based meals on offer , all the better.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-6  p-5">
            <h3 class="p-2 text-center">Community</h3>
<p>While the vegetarian / vegan communities are growing in Ireland, they are still relatively small compared to consumers of standard diets. We would hope that Plant Based Ireland provides a place for those curious about plant based diets to come and explore. It is a welcoming environment for any and all types of people. If it helps bolster the plant based community even a little bit, or if it encourages more users to get to know each other and become friends, we would consider that a win.</p>
        </div>
        <div class="col-sm-12 col-md-6  p-5">
            <h3 class="p-2 text-center">Information</h3>
<p>The plant based community is growing not just in Ireland but all around the world. Ours is not the only website providing a space for news and discussion on issues related to vegetarian and vegan diets. Other websites such as PlantBasedNews, VegNews, HappyCow, VeganFoundry , VeganHealth and so many others - all share valuable articles on important subjects. From breaking news stories to personal blogs, to easy recipes, we at Plant Based Ireland want to connect and share information from all over the world. Its important to us to allow our users to be involved in the sharing of news and information , so we have provided a platform for users to upload and share interesting articles of all kinds </p>
        </div>
    </div>
    <div class="row">
        <div class="col-12 p-5  text-center">
            <h3 class="text-center p-2 mb-4">Safe space</h3>
            <p class="text-center">As we endeavour to provide a safe space for everyone, we take a hard stance against bullying, toxic behaviour and harassment of any kind. We want to foster a growing friendly community, so we would ask you please watch out for each other and remember that the online user you are interacting with is a real person behind a keyboard.Bullying and harassment will not be tolerated on the site and will result in deletion of damaging content and removal of the user. If you come across any such scenarios and want to report it , please click the below link to provide info and make us aware. We will review and update ASAP.</p>
        </div>
    </div>
</div>


{% endblock %}
