{% extends 'base.html' %}
{% block content%}

<h1>Submit a link to an external website article</h1>
<hr />
<div  class="container add_news_container p-5 rounded">
    <div class="row mt-2">
      <div class="col-sm-12 col-md-6 mt-2 p-2 text-center">
        <p class="w-75 m-3 text-center">Submit a link to another site on the web. Please only post articles or news relating to plant based nutrition, vegetarianism/veganism, animal rights, restaurant reviews, food recipes, scientific information, blogs / thoughtpieces</p>
      </div>
        <div class="col-sm-12 col-md-6 p-4 add_news_div">
              <form method="POST" action="{% url 'add_news' %}" enctype="multipart/form-data" class="add_news_form" >
                  {% csrf_token %}
                  <div class="news_form_subclass w-50">
                      {{ form.as_p }}
                  <div>
                      <button type="submit" class="btn btn-success">Submit article</button>
                  </div>
              </form>
          </div>
    </div>
  </div>


{% endblock %}

