<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <header>
      <hr>
      {% include 'navbar.html' %}
    </header>
    <main>
      <p><b>This content here is extended from basehtml</b></p>
      <div><img src="https://res.cloudinary.com/dqdx7ttp7/image/upload/v1693376227/smoky-spiced-veggie-rice-77b416d_dhjivm.jpg" height="100px" width="100px">
        <hr>
      </div>
      <div>
        <img src="https://res.cloudinary.com/dqdx7ttp7/image/upload/v1693220166/itumi6p6kulkwfcygy41.jpg" height="100px" width="100px">
        <hr>
      </div>
      <hr>
      {% block content %}
      <!--this is the block content section-->
      {% endblock %}
    </main>
    <footer></footer>
  </body>
</html>
