<!--pulling head, header/navbar from base.html-->
{% extends "base.html" %}
<!--main content rendered between header navbar and footer-->
{% block content %}

<section>
  <div class="container subscreen_container rounded text-center">
    <h2 class="mt-5 pt-5">Change password</h2>
    <div class="row mt-5">
        <!--display 2 equal columns horizontally on larger screens, change each to full on small screens-->
        <div class="col-sm-12 col-md-6 mt-2 text-center">
          <!--display messages if password completion confirmed-->
          {% if messages %}
              {% for message in messages %}
                <p class="confirmation_message">{{ message }}</p>
              {% endfor %}
            {% endif %}
            <!--django form , from forms.py, csrf security, to choose new password-->
          <form method="post" class="">
              {% csrf_token %}
              {{ form.as_p }}
              <button type="submit" class="btn btn-lg btn-success fs-6 text">Save changes</button>
            </form>
            <!--link button to refer user back to previous page-->
            <a href="{{request.META.HTTP_REFERER}}" class="p-3"><button type="button" class=" m-5 p-1 btn btn-outline-success fs-6 text">Go back</button></a>
        </div>
        <div class="col-sm-12 col-md-6 mt-2 text-center">
          <p class="fine_print p-2 m-2">Please note that Plant Based Ireland will save a copy of your username, email and password for account verification processes. This information will not be shared with 3rd parties, per adherance to national data protection laws. If you wish to request your information be removed from the system and your account deleted, please email your account information to <span class="fw-bold">plantbased@gmail.com</span> so we can assist you.</p>
        </div>
    </div>
  </div>
</section>

<!--end of content that will be rendered between header/navbar and footer-->
{% endblock %}