{% extends "base.html" %} {% block content %}

<div class="container subscreen_container rounded">
  <div class="row m-5 p-4">
    <h2 class="mt-5 pt-5">Delete post</h2>
      <div class="col-sm-12 col-md-6 p-4  text-center">
        <h3>Are you sure you want to delete "{{obj}}"? It will be gone forever!</h3>
        </div>
        <div class="col-sm-12 col-md-6 p-4  text-center">
        <form method="POST" action="">
          {% csrf_token %}
          
          <button type="submit" class="btn btn btn-danger">Confirm delete</button>
        </form>
        <br>
        <a href="{{request.META.HTTP_REFERER}}" class="p-3 m-2"><button type="button" class="p-1 btn btn-outline-success fs-6 text">Go back</button></a>
      </div>
  </div>
</div>

{% endblock %}


