{% extends 'base.html' %}
{% block content %}
<hr>
<div id="gallery_container" class="container mt-5">
    <h1>Image Gallery</h1>
    <p>Want to share a quick pic, without a detailed diatribe of text and info? Pop an image here to share !</p>
    <div>
    {% if request.user.is_authenticated %}
    <a href="{% url 'add_gallery' %}">Click here to submit an image!</a>
    {% else %}
    <p>Login if you want to submit photos!</p>
    {% endif %}
</div>
    <div class="row">
        {% for gallery in gallerys %}
            <div class="col gallery_col" >
                {% if "placeholder" in gallery.featured_image.url %}
                    <img src="https://res.cloudinary.com/dqdx7ttp7/image/upload/v1689618533/cld-sample-2.jpg" class="gallery_img"/>
                    <p class="gallery_p">placeholder image</p>
                {% else %}
                    <img src="{{ gallery.featured_image.url }}" class="gallery_img" />
                    <p class="gallery_p">submitted image by  {{ gallery.user }}, {{ gallery.created_on|timesince}} ago</p>
                {% endif %}
            </div>
        {% endfor %}
  </div>
</div>

<div>
    <!--{% if "placeholder" in post.featured_image.url %}
    <img src="https://res.cloudinary.com/dqdx7ttp7/image/upload/v1689618533/cld-sample-2.jpg" height="100px" width="100px">
    <p>This is the placeholder image, not the user submitted image</p>
    {% else %}
    <img src="" height="100px" width="100px"/>
    <p>This is the user submitted image</p>
    {% endif %}-->
</div>
<div> <!--<p>{{ number_of_likes }} users like this post!</p>
    {% if request.user.is_authenticated %}
    <form action="" method="POST">
        {% csrf_token %}
        <button type="submit" name="post_id" value="">Like / Dislike</button>
    </form>
    {% endif %}-->
</div>

{% endblock %}