{% extends 'base.html' %}
{% block content %}
<hr>
<div id="gallery_container" class="container mt-5 rounded">
    <div class="row mt-5 text-center">
        <h2 class="mt-5">Image Gallery</h2>
        <p class="my-5">Want to share a quick pic, without a detailed diatribe of text and info? Pop an image here to share !</p>
        <div class="text-center">
            {% if request.user.is_authenticated %}
            <div class="m-5">
                <a href="{% url 'add_gallery' %}"><button type="button" class="btn btn-primary m-5">Click here to submit an image</button></a>
              </div>
            {% else %}
                <p class="mb-5"><a href="{% url 'login_base' %}">Login</a> if you want to submit photos!</p>
            {% endif %}
        </div>
        {% for gallery in gallerys %}
            <div class="col gallery_col" >
                {% if "placeholder" in gallery.featured_image.url %}
                    <img src="https://res.cloudinary.com/dqdx7ttp7/image/upload/v1689618533/cld-sample-2.jpg" class="gallery_img"/>
                    <p class="gallery_p">placeholder image</p>
                {% else %}
                    <img src="{{ gallery.featured_image.url }}" class="gallery_img" />
                    <p class="gallery_p">submitted image by  {{ gallery.user }}, {{ gallery.created_on|timesince}} ago</p>
                {% endif %}
            </div>
        {% endfor %}
    </div>
</div>

{% endblock %}