{% extends "base.html" %}
<!--below here is the block content-->
{% block content %}
<!--this is the block content section-->
<h1>Home page</h1>
<a href="{% url 'about_us' %}">click here to go to about_us</a>
<hr />
<a href="{% url 'add_post' %}">click here to submit a post</a>

<table>
  {% for post in posts %}
  <tr>
    <td>
      <a href="{% url 'post_detail' post.id %}">{{post.title}}</a>
    </td>
    <td><a href="/edit/{{ post.id }}">Edit</a></td>
    <td><a href="/delete/{{ post.id }}">Delete</a></td>
  </tr>
  {% endfor %}
</table>

{% endblock %}
