{% extends "base.html" %}
<!--below here is the block content-->
{% block content %}
<!--this is the block content section-->
<h1>Home page</h1>
<hr />
<div id="home_div" class="container-fluid"">
  <div class="row">
    <div id="posts_div" class="col-12 col-md-9">
      <h3>User submitted posts</h3>
      <a href="{% url 'add_post' %}">click here to submit a post</a>
      <table class="table">
        {% for post in posts %}
        <tr>
          <td>
            <a href="{% url 'post_detail' post.id %}">{{post.title}}</a> 
          </td>
          <td>
            <p>Posted {{ post.created_on|timesince }} ago</p>
          </td>
          <td>
            <a href="{% url 'edit_post' post.id %}">Edit</a>
          </td>
          <td>
            <a href="{% url 'delete_post' post.id %}">Delete</a>
          </td>
        </tr>
        {% endfor %}
    </table>
    </div>
    <div id="headlines_div" class="col-12 col-md-3">
      <h3>Latest articles from around the web</h3>
      <table class="table">
        {% for report in reports %}
        <tr>
          <td>
            <a href="{{ report.external_link }}"><p>{{ report.title }}</p></a>
            <p>Shared {{ report.created_on|timesince }} ago by {{ report.user }} from website : {{ report.website }}</p>
          </td>
        </tr>
        {% endfor %}
    </table>
    <a href="{% url 'news' %}">Click here to view more news </a>
    </div>
  </div>
</div>

{% endblock %}
