{% extends 'base.html' %}
{% block content%}

<div class="container news_container rounded">
  <hr/>
  <div class="row">

    <div class="col-12 col-md-9">
        <h2 class=" pt-5 text-center news_h2">Reviews</h2>
          <br>
          <div class="m-2 p-2 text-center">
            <a href="{% url 'add_news' %}" class=""><button type="button" class="btn btn-success m-2 fs-5 text">Submit an article</button></a>
          </div>
          <h3>Latest Reviews</h3>
          {% for news in review_news %}
    
            <p><span class="report_category">{{ news.category }}</span> from <span class="report_website">{{ news.website }}</span></p>
            <a href="{{ news.external_link }} " class="article_link"><p>{{ news.title }}</p></a>
            <p class="shared">Shared {{ news.created_on|timesince }} ago by <span class="user">{{ news.user }}</span></p>
            <hr>
          {% endfor %}
          <hr>
    </div>
    <div id="posts_div" class="col-12 col-md-3 my-4">
        <h2 class="user_posts text-center my-4"><i class="fa-solid fa-receipt posts_icon"></i>Latest posts</h2>
        
        <table class="table mt-5">
          {% for post in posts|slice:":6" %}
          <tr>
            <td>
              <a href="{% url 'post_detail' post.id %}" class="post_title_mini">{{post.title}}</a> 
              <p class="p-2 posted_by">Posted {{ post.created_on|timesince }} ago by <span class="user">{{ post.user }}</span></p>
            </td>
          </tr>
          {% endfor %}
      </table>
      </div>

  </div>
</div>
{% endblock %}