{% extends "base.html" %}

<!--below here is the block content-->
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
{% block content %}
<!--this is the block content section-->
<h1>Home page</h1>
<hr />
<h3>User submitted posts</h3>
<a href="{% url 'add_post' %}">click here to submit a post</a>
<table>

  {% for post in posts %}
  <tr>
    <td>
      <a href="{% url 'post_detail' post.id %}">{{post.title}}</a> 
    </td>
    <td>
      <p>Posted {{ post.created_on|timesince }} ago</p>
    </td>

    <td><a href="{% url 'edit_post' post.id %}">Edit</a></td>
    <td><a href="{% url 'delete_post' post.id %}">Delete</a></td>

  </tr>
  {% endfor %}
</table>


{% endblock %}


<div class="container ">
  <h1 id="aboutid" class="mt-5 pt-5"></h1>
  <div class="row mt-5 g-5">
      <div class="col-sm-12 col-md-6 mt-2">
          <h3></h3>
          <p></p>
      </div>
      <div class="col-sm-12 col-md-6 mt-2">

      </div>
  </div>
</div>
